.joinus {
  &__slogn {
    &__img {
      width: 731px;
      height: 161px;
    }
  }
  &__info {
    padding: 20px 10px 40px;
    &-con {
      font-size: 12px;
      line-height: 24px;
      color: #565656;
      padding: 10px 0;
    }
  }
}

.hr {
}
