.head-wrap {
  background-color: #fff;

  .head-con {
    width: 1050px;
    height: 86px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;

    .logo-wrap {
      width: 266px;
      height: 65px;
      margin-right: 21px;
      cursor: pointer;

      .logo {
        width: 100%;
        height: 100%;
      }
    }

    .phone-wrap {
      margin-left: 10px;
      width: 160px;
      height: 65px;
      cursor: pointer;
    }
  }

  .head-bottom {
    height: 11px;
    background-color: rgb(242, 248, 250);
  }
}
