.domestic {
  text-align: center;
  img {
    width: 420px;
    height: 346px;
  }
}

.international {
  text-align: center;
  img {
    width: 520px;
    height: 330px;
  }
}

.agent {
  &__slogn {
    &__img {
      width: 731px;
      height: 161px;
    }
  }
  &__info {
    line-height: 24px;
    color: #565656;
    font-size: 12px;
    padding: 6px;
    padding-left: 10px;
  }
}
