.info-box__info__box {
  &-title {
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 128, 255);
    padding: 10px 0;
  }
  &-item {
    padding: 8px 0;
    font-size: 9pt;
    color: #565656;
  }
}
.info-box__info__line {
  line-height: 0;
  // width: 680px;
  padding-left: 10px;
  padding-top: 12px;
  img {
    width: 680px;
    height: 3px;
  }
}
