.card {
  z-index: 1;
  width: 299px;
  height: 121px;
  margin-right: 37px;
  cursor: pointer;

  &__wrap {
    padding: 18px 0 0 24px;

    h4 {
      font-size: 16px;
      font-weight: normal;
      color: #e14f00;
      padding-left: 23px;
      padding-bottom: 6px;
    }

    p {
      font-size: 11px;
      color: #686868;
      width: 160px;
    }
  }
}

.card:nth-last-of-type(1) {
  margin-right: 0;
}